<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="portable45-net45+win8+wpa81" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Liphsoft.Crypto.Argon2" version="1.0.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wpa81" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PInvoke.BCrypt" version="0.5.64" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PInvoke.Kernel32" version="0.5.64" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PInvoke.NCrypt" version="0.5.64" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PInvoke.Windows.Core" version="0.5.64" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp" version="1.57.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Unity" version="4.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Validation" version="2.4.15" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="2.4.0.66-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="4.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.3.14-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="2.6.0.12-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Auth" version="1.5.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Auth.XamarinForms" version="1.5.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.2.10-pre-364" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.10-pre-364" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.2.10-pre-364" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.2.10-pre-364" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.10-pre-364" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.5.235-pre2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.GoogleMaps" version="2.1.0-beta6" targetFramework="portable45-net45+win8+wpa81" />
</packages>